#Name{
color:#FFAABB;
font-family:arial;
font-style:italic;
}

#Num{
color:#BBCCAA;
font-family:arial;
font-style:italic;

}

#Phone{
color:#123456;
font-family:arial;
font-style:italic;
}

#Address{
color:#998877;
font-family:arial;
font-style:italic;
}